/* Table of contents */
//details {
//    cursor: pointer;
//}
html {
    scroll-behavior: smooth;
}
html, body {
	scroll-padding-top: 100px;
}

.toc {
    margin: .5rem 0 .5rem 0;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .3rem;
//    background-color: $toc-bg;
    max-height: 90%;
    overflow: auto;
    position: fixed;
    top: 3rem;
    max-width: 12%; 
    ul {
        padding-top: 1rem;
        margin-left: 1rem;
        padding-left: 1rem;

        li {
        margin-bottom: 0.4em;
        line-height: 1.4;
        }
    }
}
